.restaurantimage{
    background-image: url('./DSC_5836-1620x840.jpg');
   
    background-size: cover;
    width:2000px;
     height:1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.restoran{
    font-family: 'Work Sans', sans-serif;
}
@media only screen and (max-width:800px){
    .restaurantimage{
        width:1000px;
     height:500px   
     
    }}
    @media only screen and (max-width:500px){
        .restaurantimage{
            width:600px;
            height:300px 
         
        }}
        @media only screen and (max-width:300px){
            .restaurantimage{
                width:500px;
            height:300px  
             
            }}